.navbar{
    background-color: rgb(90, 89, 89);
    overflow: hidden;
}
.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.navbar li{
    float: left;
    position: relative;
} 
.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar li a:hover{
    background-color: rgb(227, 204, 204);
    color:rgb(150, 33, 33)
}
.navbar ul ul{
    display:none;
    position: absolute;
    top:48px;
    left: 0;
    background-color:rgb(227, 207, 207) ;
    border-radius: o o 4px 4px;
    min-width:160px;
}
